<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <style>
        table {
            width: 100%;
        }

        td {
            border: 0.5px solid;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="table-data">
    </div>
    <script>
        $(document).ready(async function () {
            const printData = async () => {
                while (true) {
                    const result = await axios.get('/data');
                    let html = ``;
                    if (result.data.data) {
                        if (result.data.data.length > 0) {
                            result.data.data.map(match => {
                                html += `<table><tr><td>Info Match</td><td>Full Match</td><td>Firs Match</td></tr><tr>`;
                                if (match.infomatch) {
                                    html += `
                                        <td>
                                            nameaway: ${match.infomatch.nameaway} <br/>
                                            namehome: ${match.infomatch.namehome} <br/>
                                            score: ${match.infomatch.score} <br/>
                                            time: ${match.infomatch.time} <br/>
                                        </td>
                                `;
                                }
                                if (match.fullmatch) {
                                    html += `<td>`
                                    if (match.fullmatch['1X2']) {
                                        html += `
                                                1X2:<br/>
                                                1: ${match.fullmatch['1X2']['1']}<br/>
                                                2: ${match.fullmatch['1X2']['2']}<br/>
                                                X: ${match.fullmatch['1X2']['X']}<br/><br/><br/>
                                    `;
                                    }
                                    if (match.fullmatch.hdp.length > 0) {
                                        html += `HDP:<br/>`
                                        match.fullmatch.hdp.map(hdp => {
                                            html += `
                                            <ul>
                                                <li>Goal: ${hdp.goal}</li>
                                                <li>oddaway: ${hdp.oddaway}</li>
                                                <li>oddhome: ${hdp.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    if (match.fullmatch.ou.length > 0) {
                                        html += `<br/><br/>OU:<br/>`
                                        match.fullmatch.ou.map(ou => {
                                            html += `
                                            <ul>
                                                <li>Goal: ${ou.goal}</li>
                                                <li>oddaway: ${ou.oddaway}</li>
                                                <li>oddhome: ${ou.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    html += `</td>`
                                }

                                if (match.firstmatch) {
                                    html += `<td>`
                                    if (match.firstmatch['1X2']) {
                                        html += `
                                                1X2:<br/>
                                                1: ${match.firstmatch['1X2']['1']}<br/>
                                                2: ${match.firstmatch['1X2']['2']}<br/>
                                                X: ${match.firstmatch['1X2']['X']}<br/><br/><br/>
                                    `;
                                    }
                                    if (match.firstmatch.hdp.length > 0) {
                                        html += `HDP:<br/>`;
                                        match.firstmatch.hdp.map(hdp => {
                                            html += `
                                            <ul>
                                                <li>Goal: ${hdp.goal}</li>
                                                <li>oddaway: ${hdp.oddaway}</li>
                                                <li>oddhome: ${hdp.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    if (match.firstmatch.ou.length > 0) {
                                        html += `<br/><br/>OU:<br/>`
                                        match.firstmatch.ou.map(ou => {
                                            html += `
                                            <ul>
                                                <li>Goal: ${ou.goal}</li>
                                                <li>oddaway: ${ou.oddaway}</li>
                                                <li>oddhome: ${ou.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    html += `</td>`;
                                }
                                html += `</tr></table>`
                                console.log(html)
                            })
                        }
                        $("#table-data").html('');
                        $("#table-data").html(html);
                    }


                }
            }

            const runData = async () => {
                try {
                    await printData();
                } catch (error) {
                    runData();
                }
            }

            runData();
        })
    </script>
</body>

</html>