<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Demo</title>
    <style>
        table {
            width: 100%;
        }

        td {
            border: 0.5px solid;
            width: 300px;
            padding: 10px 50px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="isn99-tab" data-bs-toggle="tab" data-bs-target="#isn99-tab-pane"
                type="button" role="tab" aria-controls="isn99-tab-pane" aria-selected="true">isn99 <span id="time-isn99"></span></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="hga030-tab" data-bs-toggle="tab" data-bs-target="#hga030-tab-pane"
                type="button" role="tab" aria-controls="hga030-tab-pane" aria-selected="false">hga030 <span id="time-hga030"></span></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="p88-tab" data-bs-toggle="tab" data-bs-target="#p88-tab-pane" type="button"
                role="tab" aria-controls="p88-tab-pane" aria-selected="false">p88 <span id="time-p88"></span></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="web5566688-tab" data-bs-toggle="tab" data-bs-target="#web5566688-tab-pane"
                type="button" role="tab" aria-controls="web5566688-tab-pane" aria-selected="false">web5566688 <span id="time-web5566688"></span></button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="isn99-tab-pane" role="tabpanel" aria-labelledby="isn99-tab"
            tabindex="0"></div>
        <div class="tab-pane fade" id="hga030-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        </div>
        <div class="tab-pane fade" id="p88-tab-pane" role="tabpanel" aria-labelledby="p88-tab" tabindex="0">
        </div>
        <div class="tab-pane fade" id="web5566688-tab-pane" role="tabpanel" aria-labelledby="web5566688-tab"
            tabindex="0">
        </div>
    </div>
    <div id="table-data">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(async function () {
            const delay = (time) => {
                return new Promise(resolve => setTimeout(resolve, time));
            }
            const printData = async () => {
                let isFirst = true;
                while (true) {
                    if(!isFirst){
                        await delay(1000);
                    } else {
                        isFirst = false;
                    }
                    const result = await axios.get('/data');
                    let htmlHga030 = ``;
                    let htmlIsn99 = ``;
                    let htmlP88 = ``;
                    let htmlweb5566688 = ``;
                    let isFirstMatchHga030 = true;
                    let isFirstMatchIsn99 = true;
                    let isFirstMatchP88 = true;
                    let isFirstMatchweb5566688 = true;
                    if (result.data.data) {
                        if (result.data.data.length > 0) {
                            result.data.data.map((match, i) => {
                                let html = `<table><tr><td>Info Match</td><td>Full Match</td><td>Firs Match</td></tr><tr>`;
                                if (match.infomatch) {
                                    html += `
                                        <td>
                                            nameaway: ${match.infomatch.nameaway} <br/>
                                            namehome: ${match.infomatch.namehome} <br/>
                                            score: ${match.infomatch.score} <br/>
                                            time: ${match.infomatch.time} <br/>
                                        </td>
                                `;
                                }
                                if (match.fullmatch) {
                                    html += `<td>`
                                    if (match.fullmatch['1X2']) {
                                        html += `
                                                1X2:<br/>
                                                <span data-fullmatch-${match.webname}-1-${i}=${match.fullmatch['1X2']['1']} style="color:${$($(`span[data-fullmatch-${match.webname}-1-${i}]`)[0]).data(`fullmatch-${match.webname}-1-${i}`) == match.fullmatch['1X2']['1'] ? 'black' : 'red'}">1: ${match.fullmatch['1X2']['1']}</span><br/>
                                                <span data-fullmatch-${match.webname}-2-${i}=${match.fullmatch['1X2']['2']} style="color:${$($(`span[data-fullmatch-${match.webname}-2-${i}]`)[0]).data(`fullmatch-${match.webname}-2-${i}`) == match.fullmatch['1X2']['2'] ? 'black' : 'red'}">2: ${match.fullmatch['1X2']['2']}</span><br/>
                                                <span data-fullmatch-${match.webname}-x-${i}=${match.fullmatch['1X2']['X']} style="color:${$($(`span[data-fullmatch-${match.webname}-x-${i}]`)[0]).data(`fullmatch-${match.webname}-x-${i}`) == match.fullmatch['1X2']['X'] ? 'black' : 'red'}">X: ${match.fullmatch['1X2']['X']}</span><br/><br/><br/>
                                    `;
                                    }
                                    if (match.fullmatch.hdp && match.fullmatch.hdp.length > 0) {
                                        html += `HDP:<br/>`
                                        match.fullmatch.hdp.map((hdp, index) => {
                                            html += `
                                            <ul>
                                                <li data-fullmatch-hdp-goal-${match.webname}-${i}=${hdp.goal} style="color:${$($(`li[data-fullmatch-hdp-goal-${match.webname}-${i}]`)[0]).data(`fullmatch-hdp-goal-${match.webname}-${i}`) == hdp.goal ? 'black' : 'red'}">Goal: ${hdp.goal}</li>
                                                <li data-fullmatch-hdp-oddaway-${match.webname}-${i}=${hdp.oddaway} style="color:${$($(`li[data-fullmatch-hdp-oddaway-${match.webname}-${i}]`)[0]).data(`fullmatch-hdp-oddaway-${match.webname}-${i}`) == hdp.oddaway ? 'black' : 'red'}">oddaway: ${hdp.oddaway}</li>
                                                <li data-fullmatch-hdp-oddhome-${match.webname}-${i}=${hdp.oddhome} style="color:${$($(`li[data-fullmatch-hdp-oddhome-${match.webname}-${i}]`)[0]).data(`fullmatch-hdp-oddhome-${match.webname}-${i}`) == hdp.oddhome ? 'black' : 'red'}">oddhome: ${hdp.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    if (match.fullmatch.ou && match.fullmatch.ou.length > 0) {
                                        html += `<br/><br/>OU:<br/>`
                                        match.fullmatch.ou.map((ou, index) => {
                                            html += `
                                            <ul>
                                                <li data-fullmatch-ou-goal-${match.webname}-${i}=${ou.goal} style="color:${$($(`li[data-fullmatch-ou-goal-${match.webname}-${i}]`)[0]).data(`fullmatch-ou-goal-${match.webname}-${i}`) == ou.goal ? 'black' : 'red'}">Goal: ${ou.goal}</li>
                                                <li data-fullmatch-ou-oddaway-${match.webname}-${i}=${ou.oddaway} style="color:${$($(`li[data-fullmatch-ou-oddaway-${match.webname}-${i}]`)[0]).data(`fullmatch-ou-oddaway-${match.webname}-${i}`) == ou.oddaway ? 'black' : 'red'}">oddaway: ${ou.oddaway}</li>
                                                <li data-fullmatch-ou-oddhome-${match.webname}-${i}=${ou.oddhome} style="color:${$($(`li[data-fullmatch-ou-oddhome-${match.webname}-${i}]`)[0]).data(`fullmatch-ou-oddhome-${match.webname}-${i}`) == ou.oddhome ? 'black' : 'red'}">oddhome: ${ou.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    html += `</td>`
                                }

                                if (match.firstmatch) {
                                    html += `<td>`
                                    if (match.firstmatch['1X2']) {
                                        html += `
                                                1X2:<br/>
                                                <span data-firstmatch-${match.webname}-1-${i}=${match.firstmatch['1X2']['1']} style="color:${$($(`span[data-firstmatch-${match.webname}-1-${i}]`)[0]).data(`firstmatch-${match.webname}-1-${i}`) == match.firstmatch['1X2']['1'] ? 'black' : 'red'}">1: ${match.firstmatch['1X2']['1']}</span><br/>
                                                <span data-firstmatch-${match.webname}-2-${i}=${match.firstmatch['1X2']['2']} style="color:${$($(`span[data-firstmatch-${match.webname}-2-${i}]`)[0]).data(`firstmatch-${match.webname}-2-${i}`) == match.firstmatch['1X2']['2'] ? 'black' : 'red'}">2: ${match.firstmatch['1X2']['2']}</span><br/>
                                                <span data-firstmatch-${match.webname}-x-${i}=${match.firstmatch['1X2']['X']} style="color:${$($(`span[data-firstmatch-${match.webname}-x-${i}]`)[0]).data(`firstmatch-${match.webname}-x-${i}`) == match.firstmatch['1X2']['X'] ? 'black' : 'red'}">X: ${match.firstmatch['1X2']['X']}</span><br/><br/><br/>
                                    `;
                                    }
                                    if (match.firstmatch.hdp && match.firstmatch.hdp.length > 0) {
                                        html += `HDP:<br/>`;
                                        match.firstmatch.hdp.map((hdp, index) => {
                                            html += `
                                            <ul>
                                                <li data-firstmatch-hdp-goal-${match.webname}-${i}=${hdp.goal} style="color:${$($(`li[data-firstmatch-hdp-goal-${match.webname}-${i}]`)[0]).data(`firstmatch-hdp-goal-${match.webname}-${i}`) == hdp.goal ? 'black' : 'red'}">Goal: ${hdp.goal}</li>
                                                <li data-firstmatch-hdp-oddaway-${match.webname}-${i}=${hdp.oddaway} style="color:${$($(`li[data-firstmatch-hdp-oddaway-${match.webname}-${i}]`)[0]).data(`firstmatch-hdp-oddaway-${match.webname}-${i}`) == hdp.oddaway ? 'black' : 'red'}">oddaway: ${hdp.oddaway}</li>
                                                <li data-firstmatch-hdp-oddhome-${match.webname}-${i}=${hdp.oddhome} style="color:${$($(`li[data-firstmatch-hdp-oddhome-${match.webname}-${i}]`)[0]).data(`firstmatch-hdp-oddhome-${match.webname}-${i}`) == hdp.oddhome ? 'black' : 'red'}">oddhome: ${hdp.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    if (match.firstmatch.ou && match.firstmatch.ou.length > 0) {
                                        html += `<br/><br/>OU:<br/>`
                                        match.firstmatch.ou.map((ou, index) => {
                                            html += `
                                            <ul>
                                                <li data-firstmatch-ou-goal-${match.webname}-${i}=${ou.goal} style="color:${$($(`li[data-firstmatch-ou-goal-${match.webname}-${i}]`)[0]).data(`firstmatch-ou-goal-${match.webname}-${i}`) == ou.goal ? 'black' : 'red'}">Goal: ${ou.goal}</li>
                                                <li data-firstmatch-ou-oddaway-${match.webname}-${i}=${ou.oddaway} style="color:${$($(`li[data-firstmatch-ou-oddaway-${match.webname}-${i}]`)[0]).data(`firstmatch-ou-oddaway-${match.webname}-${i}`) == ou.oddaway ? 'black' : 'red'}">oddaway: ${ou.oddaway}</li>
                                                <li data-firstmatch-ou-oddhome-${match.webname}-${i}=${ou.oddhome} style="color:${$($(`li[data-firstmatch-ou-oddhome-${match.webname}-${i}]`)[0]).data(`firstmatch-ou-oddhome-${match.webname}-${i}`) == ou.oddhome ? 'black' : 'red'}">oddhome: ${ou.oddhome}</li>
                                            </ul>
                                            <br/>
                                        `;
                                        })
                                    }
                                    html += `</td>`;
                                }
                                html += `</tr></table>`;
                                if (match.webname == 'hga030') {
                                    htmlHga030 += html;
                                    if(isFirstMatchHga030){
                                        isFirstMatchHga030 = false;
                                        $('#time-hga030').html('');
                                        $('#time-hga030').html(match.createdAt);
                                    }
                                } else if (match.webname == 'isn99') {
                                    htmlIsn99 += html;
                                    if(isFirstMatchIsn99){
                                        isFirstMatchIsn99 = false;
                                        $('#time-isn99').html('');
                                        $('#time-isn99').html(match.createdAt);
                                    }
                                } else if (match.webname == '5566688') {
                                    htmlweb5566688 += html;
                                    if(isFirstMatchweb5566688){
                                        isFirstMatchweb5566688 = false;
                                        $('#time-web5566688').html('');
                                        $('#time-web5566688').html(match.createdAt);
                                    }
                                } else {
                                    htmlP88 += html;
                                    if(isFirstMatchP88){
                                        isFirstMatchP88 = false;
                                        $('#time-p88').html('');
                                        $('#time-p88').html(match.createdAt);
                                    }
                                }
                            })
                        }
                        $("#isn99-tab-pane").html('');
                        $("#hga030-tab-pane").html('');
                        $("#p88-tab-pane").html('');
                        $("#web5566688-tab-pane").html('');
                        $("#isn99-tab-pane").html(htmlIsn99);
                        $("#hga030-tab-pane").html(htmlHga030);
                        $("#p88-tab-pane").html(htmlP88);
                        $("#web5566688-tab-pane").html(htmlweb5566688);
                    }


                }
            }

            const runData = async () => {
                try {
                    await printData();
                } catch (error) {
                    runData();
                }
            }
            // await printData();
            // await printData();
            // printData();
            runData();
        })
    </script>
</body>

</html>