<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <style>
        table {
            width: 100%;
        }

        td {
            border: 0.5px solid;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="table-data">

    </div>
    <script>
        $(document).ready(async function () {
            const printData = async () => {
                while (true) {
                    const result = await axios.get('/data');
                    let html = ''
                    if (result.data.data.data) {
                        if (result.data.data.data.length && result.data.data.data.length > 0) {
                            for (let i = 0; i < result.data.data.data.length; i++) {
                                html += `<table style="margin-bottom: 30px;"><tr><td>${result.data.data.data[i].game.TIMER}</td><td>Handicap</td><td>Goals O/U</td><td>1 X 2</td><td>1 X 2 1st Half</td><td>Handicap 1st Half</td><td>Goals O/U 1st Half</td><td>NextGoal</td><td>Both Teams to Score</td></tr><tr><td>${result.data.data.data[i].game.SCORE_H}${result.data.data.data[i].game.TEAM_H}</td><td>${result.data.data.data[i].game.IOR_REH}</td><td>${result.data.data.data[i].game.IOR_ROUC}</td><td>${result.data.data.data[i].game.IOR_RMH}</td><td>${result.data.data.data[i].game.IOR_HRMH}</td><td>${result.data.data.data[i].game.IOR_HREH}</td><td>${result.data.data.data[i].game.IOR_HROUC}</td><td>${result.data.data.data[i].game.IOR_RGH}</td><td>${result.data.data.data[i].game.IOR_RTSY}</td></tr><tr><td>${result.data.data.data[i].game.SCORE_C}${result.data.data.data[i].game.TEAM_C}</td><td>${result.data.data.data[i].game.IOR_REC}</td><td>${result.data.data.data[i].game.IOR_ROUH}</td><td>${result.data.data.data[i].game.IOR_RMC}</td><td>${result.data.data.data[i].game.IOR_HRMC}</td><td>${result.data.data.data[i].game.IOR_HREC}</td><td>${result.data.data.data[i].game.IOR_HROUH}</td><td>${result.data.data.data[i].game.IOR_RGC}</td><td>${result.data.data.data[i].game.IOR_RTSN}</td></tr><tr><td></td><td></td><td></td><td>${result.data.data.data[i].game.IOR_RMN}</td><td>${result.data.data.data[i].game.IOR_HRMN}</td><td></td><td></td><td>${result.data.data.data[i].game.IOR_RGN}</td><td></td></tr></table>`;
                            }
                            $("#table-data").html('');
                            $("#table-data").html(html);
                        } else {
                            html += `<table style="margin-bottom: 30px;"><tr><td>${result.data.data.data.game.TIMER}</td><td>Handicap</td><td>Goals O/U</td><td>1 X 2</td><td>1 X 2 1st Half</td><td>Handicap 1st Half</td><td>Goals O/U 1st Half</td><td>NextGoal</td><td>Both Teams to Score</td></tr><tr><td>${result.data.data.data.game.SCORE_H}${result.data.data.data.game.TEAM_H}</td><td>${result.data.data.data.game.IOR_REH}</td><td>${result.data.data.data.game.IOR_ROUC}</td><td>${result.data.data.data.game.IOR_RMH}</td><td>${result.data.data.data.game.IOR_HRMH}</td><td>${result.data.data.data.game.IOR_HREH}</td><td>${result.data.data.data.game.IOR_HROUC}</td><td>${result.data.data.data.game.IOR_RGH}</td><td>${result.data.data.data.game.IOR_RTSY}</td></tr><tr><td>${result.data.data.data.game.SCORE_C}${result.data.data.data.game.TEAM_C}</td><td>${result.data.data.data.game.IOR_REC}</td><td>${result.data.data.data.game.IOR_ROUH}</td><td>${result.data.data.data.game.IOR_RMC}</td><td>${result.data.data.data.game.IOR_HRMC}</td><td>${result.data.data.data.game.IOR_HREC}</td><td>${result.data.data.data.game.IOR_HROUH}</td><td>${result.data.data.data.game.IOR_RGC}</td><td>${result.data.data.data.game.IOR_RTSN}</td></tr><tr><td></td><td></td><td></td><td>${result.data.data.data.game.IOR_RMN}</td><td>${result.data.data.data.game.IOR_HRMN}</td><td></td><td></td><td>${result.data.data.data.game.IOR_RGN}</td><td></td></tr></table>`;
                            $("#table-data").html('');
                            $("#table-data").html(html);
                        }
                    }
                }
            }

            const runData = async () => {
                try {
                    await printData();
                } catch (error) {
                    runData();
                }
            }

            runData();
        })
    </script>
</body>

</html>